# Dependencies
dependencies/

# Nix outputs
result

# Example
example/hello-world

# Doxygen
html/

# Meson
bld*/

# Patch
*.orig
*.rej

# Sublime Text
*.sublime-*

# Vim
*.swp

# Visual Studio Code
.vscode/

# Clion
.idea/