# Dependencies
dependencies/

# Example
example/hello-world

# Doxygen
html/

# Patch
*.orig
*.rej

# Sublime Text
*.sublime-*

# Vim
*.swp

# Waf
build*/
waf-extras/*.pyc
waf-extras/__pycache__/
.lock-waf*
.waf-*/
.waf3-*/
