# Dependencies
dependencies/

# Example
example/hello-world

# Doxygen
html/

# Meson
bld*/

# Patch
*.orig
*.rej

# Sublime Text
*.sublime-*

# Vim
*.swp

# Visual Studio Code
.vscode/

# CLion
.idea/

# Spack-Env
.spack-env/
spack.lock
