#!/bin/sh

# JULEA - Flexible storage framework
# Copyright (C) 2013 Anna Fuchs
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# for debug only
set -ex

name=$(hostname)

perf=$(git config --local test.performance-test-remote)

if echo $perf | grep "Performance-Test: no"
then
  echo "No performance test"
  exit 0
fi

DIR_PATH=$(git rev-parse --show-toplevel)
RESULTS_PATH=$(git config --local test.results-path)

DIR_PATH/waf

sbatch << EOF
#!/bin/sh
#
#SBATCH -N 1 --ntasks-per-node 1
# Output goes to job.out, error messages to job.err.
#SBATCH --error=job.err --output=job.out

rc=0

srun $dir/tools/benchmop.sh $perf $RESULTS_PATH/benchmark_remote_$name --machine-readable || rc=\$?

if [ \${rc} -ne 0 ]
then
  echo 'Running program failed'
  exit 1
fi

ssh $name << __EOF
pwd=$PWD

$dir/tools/gnuplot.sh $RESULTS_PATH/benchmark_remote_$name

cd $RESULTS_PATH/benchmark_remote_$name

rm -rf toplot/

env_arg=''

for var in \$(env | grep '^GIT' | sed 's/=.*$//')
do
	env_arg="\${env_arg} -u \${var}"
done

env \$env_arg git checkout gnuplot/remote/$name || rc=\$?
if [ \$rc -ne 0 ]
then
  env \$env_arg git checkout --orphan gnuplot/remote/$name
fi

env \$env_arg git add -A .
env \$env_arg git commit -m "results"
git push

cd \$pwd
__EOF
EOF

exit 0

