# JULEA - Flexible storage framework
# Copyright (C) 2019-2024 Michael Kuhn
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

name: CI
on: [push, pull_request]
jobs:
  style:
    name: Style
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
          show-progress: false
      - name: Check format
        run: |
          ./scripts/format.sh
      - name: Check shell scripts
        run: |
          ./scripts/check.sh
  build:
    name: Build
    runs-on: ${{ matrix.os.dist }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        os:
          - dist: ubuntu-24.04
          - dist: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
          show-progress: false
      - name: Configure, build and install
        run: |
          nix build
  tests:
    name: Tests
    runs-on: ${{ matrix.os.dist }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        os:
          - dist: ubuntu-24.04
          - dist: ubuntu-22.04

        julea:
          # Default
          - object: posix
            kv: lmdb
            db: sqlite
          # Object backends
          - object: gio
            kv: lmdb
            db: sqlite
          # KV backends
          - object: posix
            kv: gdbm
            db: sqlite
          - object: posix
            kv: mongodb
            db: sqlite
          - object: posix
            kv: leveldb
            db: sqlite
          - object: posix
            kv: rocksdb
            db: sqlite
          - object: posix
            kv: sqlite
            db: sqlite
          # DB backends
          - object: posix
            kv: lmdb
            db: mysql
            db-server: mysql
          - object: posix
            kv: lmdb
            db: mysql
            db-server: mariadb
        exclude:
          # FIXME Ubuntu 24.04's RocksDB triggers asan
          - os:
              dist: ubuntu-24.04
            julea:
              kv: rocksdb
    services:
      mariadb:
        image: ${{ matrix.julea.db == 'mysql' && matrix.julea.db-server == 'mariadb' && 'docker.io/library/mariadb' || '' }}
        env:
          MARIADB_RANDOM_ROOT_PASSWORD: yes
          MARIADB_DATABASE: juleadb
          MARIADB_USER: julea
          MARIADB_PASSWORD: aeluj
        ports:
          - 3306:3306
      mongodb:
        image: ${{ matrix.julea.kv == 'mongodb' && 'docker.io/library/mongo' || '' }}
        ports:
          - 27017:27017
      mysql:
        image: ${{ matrix.julea.db == 'mysql' && matrix.julea.db-server == 'mysql' && 'docker.io/library/mysql' || '' }}
        env:
          MYSQL_RANDOM_ROOT_PASSWORD: yes
          MYSQL_DATABASE: juleadb
          MYSQL_USER: julea
          MYSQL_PASSWORD: aeluj
        ports:
          - 3306:3306
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
          show-progress: false
      - name: Configure and build
        run: |
          ./scripts/ci/build.sh debug
      - name: Create configuration
        # FIXME We need to use 127.0.0.1 because localhost tries to use the socket (/tmp/mysql.sock), which does not exist.
        run: |
          nix develop
          JULEA_KV_PATH="/tmp/julea/kv/${{ matrix.julea.kv }}"
          if test "${{ matrix.julea.kv }}" = 'mongodb'; then JULEA_KV_PATH='127.0.0.1:juleadb'; fi
          JULEA_DB_PATH="/tmp/julea/db/${{ matrix.julea.db }}"
          if test "${{ matrix.julea.db }}" = 'mysql'; then JULEA_DB_PATH='127.0.0.1:juleadb:julea:aeluj'; fi
          julea-config --user --object-servers="$(hostname)" --kv-servers="$(hostname)" --db-servers="$(hostname)" --object-backend="${{ matrix.julea.object }}" --object-path="/tmp/julea/object/${{ matrix.julea.object }}" --kv-backend="${{ matrix.julea.kv }}" --kv-path="${JULEA_KV_PATH}" --db-backend="${{ matrix.julea.db }}" --db-path="${JULEA_DB_PATH}"
          exit
      - name: Tests
        run: |
          nix develop
          ./scripts/setup.sh start
          ./scripts/test.sh
          sleep 10
          ./scripts/test.sh
          ./scripts/setup.sh stop
          exit
      - name: HDF5 Tests
        env:
          LSAN_OPTIONS: exitcode=0
        run: |
          . scripts/environment.sh
          ./scripts/setup.sh start
          export HDF5_VOL_CONNECTOR=julea-kv
          ./scripts/test.sh -r /hdf5
          sleep 10
          ./scripts/test.sh -r /hdf5
          sleep 10
          export HDF5_VOL_CONNECTOR=julea-db
          ./scripts/test.sh -r /hdf5
          sleep 10
          ./scripts/test.sh -r /hdf5
          ./scripts/setup.sh stop
      - name: Benchmarks
        if: ${{ matrix.julea.object == 'posix' && matrix.julea.kv == 'lmdb' && matrix.julea.db == 'sqlite' }}
        run: |
          . scripts/environment.sh
          ./scripts/setup.sh start
          ./scripts/benchmark.sh --duration=0
          sleep 10
          ./scripts/benchmark.sh --duration=0
          ./scripts/setup.sh stop
  doxygen:
    name: Doxygen
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
          show-progress: false
      - name: Install dependencies
        run: |
          sudo apt update || true
          sudo apt --yes --no-install-recommends install doxygen
      - name: Generate documentation
        run: |
          doxygen
      - name: Upload doxygen
        uses: actions/upload-artifact@v4
        with:
          name: doxygen
          path: html
  coverage:
    # FIXME Reduce redundancies
    # FIXME Increase coverage (currently, only one configuration runs)
    name: Coverage
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false
          show-progress: false
      - name: Cache dependencies
        id: cache
        uses: actions/cache/restore@v4
        with:
          path: dependencies
          key: ubuntu-24.04-gcc-13.3.0-${{ hashFiles('scripts/spack', 'scripts/install-dependencies.sh') }}
      - name: Check dependencies
        if: ${{ steps.cache.outputs.cache-hit != 'true' }}
        run: |
          exit 1
      - name: Configure and build
        env:
          CC: gcc
        run: |
          ./scripts/ci/build.sh coverage spack
      - name: Create configuration
        run: |
          . scripts/environment.sh
          julea-config --user --object-servers="$(hostname)" --kv-servers="$(hostname)" --db-servers="$(hostname)" --object-backend=posix --object-path=/tmp/julea/object/posix --kv-backend=lmdb --kv-path=/tmp/julea/kv/lmdb --db-backend=sqlite --db-path=/tmp/julea/db/sqlite
      - name: Tests
        env:
          HDF5_VOL_CONNECTOR: julea-db
          LSAN_OPTIONS: exitcode=0
        run: |
          . scripts/environment.sh
          ./scripts/setup.sh start
          ./scripts/test.sh
          ./scripts/setup.sh stop
      - name: Generate coverage
        run: |
          . scripts/environment.sh
          ninja -C bld coverage
      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: bld/meson-logs/coveragereport
  publish:
    name: Publish
    needs: [doxygen, coverage]
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    steps:
      - name: Configure Pages
        uses: actions/configure-pages@v5
      - name: Download doxygen
        uses: actions/download-artifact@v5
        with:
          name: doxygen
          path: doxygen
      - name: Download coverage
        uses: actions/download-artifact@v5
        with:
          name: coverage
          path: coverage
      - name: Prepare
        run: |
          mv coverage doxygen/coverage
      - name: Upload artifact
        # FIXME https://github.com/actions/upload-pages-artifact/issues/128
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: doxygen
  deploy:
    name: Deploy
    needs: publish
    runs-on: ubuntu-24.04
    timeout-minutes: 30
    if: ${{ github.ref == 'refs/heads/master' }}
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy Pages
        id: deployment
        uses: actions/deploy-pages@v4
